<footer class='clearfix'>
  <ul class='left'>
    <li>&copy;2010 Michael He</li>
    <li>
      Powered by
      <a href='http://www.tui8.com'>Michael He</a>
    </li>
  </ul>

  <ul class='right'>
    <li class='reset_all'>
      <%= t("twitter_html") %>
    </li>
  </ul>
</footer>