<header class='clearfix'>
  <h1 class='left'>
    <a href='/'>iSafePlayer</a>
  </h1>
  <nav class='right'>
    <ul>
      <li>
        Home
      </li>
      <li>
        <a href='/'>Feedback</a>
      </li>
      <li class='no_right'>
        <a href='/'>About</a>
      </li>
    </ul>
  </nav>
</header>