<div class='container' id='application'>
  <section id="video">
    <a href="javascript:void(0)" id="show_video"><img src="/assets/preview.jpg"/></a>
    <%= t "video_html" %>
  </section>

  <section id='download'>
    <p>
      <a href='#'><img alt='Get it on the AppStore' src='/assets/app-store.png' width='200' /></a>
      <small>Requires iPhone, iPod 4.0 +</small>
    </p>
  </section>

  <section id='features'>
    <article class='clearfix' id="what">
      <section class='left'>
        <h2>What is iSafePlayer ?</h2>
        <p><strong>iSafePlayer</strong> is an <strong>anti-theft</strong> music player, which could play those music already in your iPhone and will alarm when your iPhone lose connection with you, like headset been removed, or bluetooth headset lost connection.</p>
      </section>
      <aside class='right'>
        <img alt='cover' height='' src='/assets/cover.jpg' width='250' />
      </aside>
    </article>


    <article class='clearfix' id="how">
      <section class='left'>
        <h2>How does iSafePlayer work ?</h2>
        <p>
          <h3>If You</h3>
          <ul>
            <li>
              are using iSafePlayer to listen to music.
            </li>
            <li>
              are using wired headset or bluetooth headset.
            </li>
          </ul>
          <h3>When a thief</h3>
          <ul>
            <li>
              unplugs headset.
            </li>
            <li>
              takes your iPhone out of bluetooth available range.
            </li>
          </ul>
          <h3>iSafePlayer will</h3>
          <ul>
            <li>
              start to alarm at the maximum volume.
            </li>
            <li>
              vibrate your iPhone.
            </li>
            <li>
              play your custom recorded alarm sound, which is very sensitive to you, like your name, or can threaten the thief, like "I am a thief, I am stealing iPhone".
            </li>
            <li>
              not be able to lower down the speaker volume.
            </li>
            <li>
              not be able to kill iSafePlayer, if you've set passcode.
            </li>
          </ul>
        </p>
      </section>
      <aside class='right'>
        <img alt='iSafePlayer tutorial' height='' src='/assets/tutorial-1.jpg' width='250' />
      </aside>
    </article>

    <article class='clearfix' id="why">
      <section class='left'>
        <h2>Why iSafePlayer is the best anti-theft iPhone application ?</h2>
        <p>
          <h3>It's practical</h3>
          <ul>
            <li>Most of situations that we lost iPhone are on <strong>bus</strong>, <strong>metro</strong>, <strong>crowded street</strong> or <strong>crowded public places</strong></li>
            <li>Most of people like listening to music with iPhone by using ipod player, when they are outside.</li>
          </ul>

          <h3>It solved the disadvantages of other anti-theft applications</h3>
          <ul>
            <li>
              <strong>You have to remember to launch it</strong>, but most of the situation, we are not careful enough, so we always forget to do it. <br/>
              <p><strong>For iSafePlayer</strong>, you will never need to remember to open it, because you want to listen to the music, so it's an inevitable step when you go out.</p>
            </li>
            <li>
              <strong>If you launched that application you couldn't do anything. </strong>
              You can't lock the screen, you can't listen to music, you can't browse website, you can't play game. the alarm will be disabled if you launch any other application. <br/>
              <p><strong>For iSafePlayer</strong>, allow you do anything as long as you can still hear the music from iSafePlayer, whatever you are playing game or browsing website or even locked screen.</p>
            </li>
            <li>
              <strong>Easy to disable alarm. </strong><br/>Most of them, you can disable alarm them by press home button, or lock the screen. <br/>
              <p><strong>For iSafePlayer</strong>, if you set passcode, the thief not only can't unlock your iPhone to kill the application but also can't lower down the alarm sound. The only way is turning off the iPhone by force, but do you think a thief can be so calm when the alarm been raised and holds the power button for seconds? before he trys, he must choose to run away.</p>
            </li>
            <li>
              There are two kinds of situations that anti-theft application are trying to handle with: <br/>
                <strong>1. When your iPhone is being stolen.</strong><br/>
                This kind of application will alarm when the thief touches or moves your iPhone. You can get it back very soon and are possible to get it back.<br/>
                <strong>2. When you lost your iPhone.</strong><br/>
                This kind of application will help you to trace your iPhone's information, but most of them are jailborken applications. It's very hard to get your iPhone back and also very complicated.<br/>
              <p><strong>For iSafePlayer</strong>, it's the type 1, it tends to stop your iPhone being stolen as earlier as possible.</p>
            </li>
          </ul>
        </p>
      </section>
      <aside class='right'>
        <img alt='iSafePlayer tutorial' height='' src='/assets/tutorial-2.jpg' width='250' />
        <br/>
        <img alt='iSafePlayer tutorial' height='' src='/assets/tutorial-3.jpg' width='250' />
        <br/>
        <img alt='iSafePlayer tutorial' height='' src='/assets/tutorial-4.jpg' width='250' />
      </aside>
    </article>
  </section>

  <section id='footer_download'>
    <h2>Where can I get it ?</h2>
    <p>
      <a href='#'><img alt='Get it on the AppStore' src='/assets/app-store.png' width='200' /></a>
      <small>Requires iPhone, iPod 4.0 +</small>
    </p>
  </section>
</div>