<%= javascript_include_tag "jwplayer/jwplayer" %>
<script type="text/javascript">
  $(function(){
    jwplayer("preview").setup({
			flashplayer: "/assets/jwplayer/player.swf",
			file: "/assets/video.m4v",
			image: "/assets/preview.jpg",
			width: "820",
			height: "462"
		});
  });
</script>

<div class='container' id='application'>
  <section id='preview'>
  </section>

  <section id='download'>
    <p>
      <a href='#'><img alt='Get it on the AppStore' src='/assets/app-store.png' width='200' /></a>
      <small>Requires iPhone, iPod 4.0 +</small>
    </p>
  </section>

  <section id='features'>
    <article class='clearfix' id="what">
      <section class='left'>
        <h2>What is iSafePlayer?</h2>
        <p><strong>iSafePlayer</strong> is a <strong>anti-theft</strong> music player, which could play the music in your iPhone and alarm when your iPhone lose connection to you.</p>
      </section>
      <aside class='right'>
        <img alt='Accessible' height='110' src='http://www.iawriter.com/wp-content/themes/Writer%201.0.4/assets/img/how_7.jpg' width='250' />
      </aside>
    </article>


    <article class='clearfix' id="how">
      <section class='left'>
        <h2>How can iSafePlayer protect your iPhone been stolen?</h2>
        <p>
          <h3>If You</h3>
          <ul>
            <li>
              are using iSafePlayer to listen to music.
            </li>
            <li>
              are using earplug or bluetooth headset.
            </li>
          </ul>
          <h3>When thief</h3>
          <ul>
            <li>
              unplugs headset.
            </li>
            <li>
              takes your iPhone out of bluetooth available range.
            </li>
          </ul>
          <h3>iSafePlayer will</h3>
          <ul>
            <li>
              start to alarm at maximum sound.
            </li>
            <li>
              vibrate your iPhone.
            </li>
            <li>
              play your custom recorded alarm sound, which is most sensitive to you, like your name, or which could threaten the thief, like "I am thief, I am stealing iPhone".
            </li>
            <li>
              not be able to lower down the speaker volume.
            </li>
            <li>
              not be able to kill iSafePlayer, if you've set passcode.
            </li>
          </ul>
        </p>
      </section>
      <aside class='right'>
        <img alt='Simple' height='' src='http://www.iawriter.com/wp-content/themes/Writer%201.0.4/assets/img/how_7.jpg' width='250' />
      </aside>
    </article>

    <article class='clearfix' id="why">
      <section class='left'>
        <h2>Why iSafePlayer is the best anti-theft iPhone application ?</h2>
        <p>
          <h3>It's practical</h3>
          <ul>
            <li>
              Most situations that we lost iPhone is on <strong>bus</strong> or <strong>metro</strong> or at <strong>crowded street</strong> or <strong>crowded public places</strong>
            </li>
            <li>
              Most of people like listen to music with iPhone by using ipod player, when they are walking or on the bus or metro.
            </li>
          </ul>

          <h3>The disadvantage of other anti-theft applications</h3>
          <ul>
            <li>
              <strong>You need to remember to launch it</strong>, but most situation is we are not careful enough, so we forgot doing it. <br/>
              <strong>For iSafePlayer</strong>, you will never need to remember to open it, because you want to listen music, so it's a inevitable step when you go out.
            </li>
            <li>
              <strong>If you launched that app you can't do anything. </strong>
                You can't lock the screen, you can't listen music, you can't view browser, you can't play game. But it's what to stop you to launch it. <br/>
              <strong>For iSafePlayer</strong>, you can do anything as long as you still can here music from iSafePlayer, whatever your locked the screen, or playing game or browsing websites.
            </li>
            <li>
              <strong>Easy to disalarm. </strong><br/>Most of them, you can disalarm them by press home button, or lock the screen. <br/>
              <strong>For iSafePlayer</strong>, if you set passcode, the thief not only can't unlock your iPhone to kill the process but also can't lower down the alarm sound. The only way is turning off the iPhone by force, but do you think a thief can be so calm when alarm been raise and hold the power button for seconds? before he try, he must choose run away.
            </li>
            <li>
              There are two kinds of anti-theft application: <br/>
                <strong>1. When you are losing your iPhone.</strong><br/>
                This kind of tool will alarm when thief touched or moved your iPhone. You can get it back very soon and possible to get it back.<br/>
                <strong>2. When you lost your iPhone.</strong><br/>
                This kind of tool will allow you to trace your iPhone's information, but most of them are jailborken application. It's very hard to get your iPhone back also very complicated.<br/>
              <strong>For iSafePlayer</strong>, it's the type 1, it tends to stop your iPhone been stolen as earlier as possible.
            </li>
          </ul>
        </p>
      </section>
      <aside class='right'>
        <img alt='Integrated' height='' src='http://www.iawriter.com/wp-content/themes/Writer%201.0.4/assets/img/how_7.jpg' width='250' />
      </aside>
    </article>
  </section>

  <section id='footer_download'>
    <h2>Where can I get it ?</h2>
    <p>
      <a href='#'><img alt='Get it on the AppStore' src='/assets/app-store.png' width='200' /></a>
      <small>Requires iPhone, iPod 4.0 +</small>
    </p>
  </section>
</div>