$left-width: 550px;
$right-width: 250px;

/* section: preview 
---------------------------------------------- */
#application #preview {
  margin: 0 0 20px 0;
}

#application #preview img {
  display: block;
}
/* ------------------------------------------- */

/* section: signup
---------------------------------------------- */
#application #download {
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0 50px 0;
  padding: 10px 0 8px 0;
}

#application #download {
  text-align: center;
}

#application #download small {
  color: #8b8b8b;
  display: block;
  font-size: 11px;
  margin: 3px 0 0 0;
}


#application #footer_download {
  border-top: 1px solid #e5e5e5;
  margin: 0px;
  padding: 10px 0 8px 0;
}

#application #footer_download {
  text-align: center;
}

#application #footer_download h2 {
  margin: 0 0 15px 0;
}

#application #footer_download small {
  color: #8b8b8b;
  display: block;
  font-size: 11px;
  margin: 3px 0 0 0;
}

/* ------------------------------------------- */

/* section: features
---------------------------------------------- */
#application #features {
  margin: 0 0 50px 0;
}

#application #features article {
  margin: 0 0 15px 0;
}

#application #features aritcle .left {
  margin: 0 60px 0 0;
}

#application #features article section p {
  line-height: 24px;
  margin: 0 0 24px 0;
  text-align: justify;
}

#application #features article aside img {
  display: block;
}

#application #features article ul {
  margin: 0 0 24px 0;
  padding: 0 0 0 16px;
}

#application #features article ul:last-child {
  margin: 0 0 0 0;
}

#application #features article ul li {
  line-height: 24px;
  list-style: disc;
  margin: 0 0 6px 0;
  text-align: justify;
}


#application #features .left {
  width: $left-width;
}

#application #features .right {
  width: $right-width;
}

#application #features article ul li p {
  color: #034;
}

#application #title {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;

  h1 {
    font-size: 30px;
  }
}

/* ------------------------------------------- */