#feedback {
  h2 {
    text-align: center;
  }

  div#error_explanation {
    width: 490px;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #fef;
    border: 1px solid #ede;

    ul {
      margin-top: 10px;
    }
    ul li {
      line-height: 24px;
      list-style: disc;
      margin: 0 0 0px 20px;
      text-align: justify;
    }
  }

  div.notice {
    width: 512px;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #fef;
    border: 1px solid #ede;
  }

  div.feedback_item {
    width: 512px;
    margin: 0 auto 20px auto;
    padding: 10px;
    border: 1px solid #ede;

    div.title {
      margin-bottom: 10px;
    }
  }

  div.new_feedback {
    width: 512px;
    margin: 20px auto 20px auto;
    a {
      font-size: 20px;
    }
  }

  .pagination {
    margin: auto;
    width: 512px;
  }

  small {
    font-size: 9px;
  }

  form {
    width: 512px;
    margin: auto;

    label {
      font-size: 16px;
      font-width: 5px;
    }

    small {
      font-size: 9px;
    }

    input[type="text"], input[type="submit"], textarea {
      padding: 5px;
      margin: 5px 0;
      border:1px solid #cccccc;
      width: 500px;
    }

    input[type="checkbox"] {
    margin-bottom: 5px;
    }

    input[type="submit"] {
      width: 200px;
      float: right;
    }

    .actions a {
      font-size: 20px;
      margin-top: 6px;
      float: left;
    }
  }
}