<div class='container' id='alipay'>
  <div>
    <h2>
      <% if params[:trade_status] == "TRADE_SUCCESS" %>
        恭喜您，您支付<%= @result.amount %>元已经完成，请耐心等待系统从支付宝获得最终确认信息，谢谢。
        <br>如果超过1小时还没有结果请联系我们。email: hlxwell@gmail.com
      <% elsif params[:trade_status] == "TRADE_FINISHED" %>
        恭喜您，充值<%= @result.amount %>元成功，我们将在1小时内发送Gift到您的AppleID。
      <% else %>
        对不起充值失败，请联系我们。email: hlxwell@gmail.com
      <% end %>
    </h2>
    <p>
      <%= link_to "回到首页", root_path %>
    </p>
  </div>
</div>